.generation {
    background: linear-gradient(79.51deg, #3A26B2 1.5%, rgba(54, 23, 239, 0.571567) 79.99%, rgba(48, 20, 213, 0.495075) 98.84%, rgba(58, 38, 178, 0.338576) 99.99%, rgba(58, 38, 178, 0) 100%);
    border-radius: 20px;
    filter: drop-shadow(2px 4px 15px rgba(0, 0, 0, 0.19));
    transition: .4s;
}

.all-user {
    background: linear-gradient(79.51deg, #0077CD 1.49%, rgba(54, 23, 239, 0.571567) 79.99%, rgba(48, 20, 213, 0.495075) 98.84%, rgba(58, 38, 178, 0.338576) 99.99%, rgba(58, 38, 178, 0) 100%);
    border-radius: 20px;
    filter: drop-shadow(2px 4px 15px rgba(0, 0, 0, 0.19));
    transition: .4s;
}

.all-student {
    background: linear-gradient(79.51deg, #6C95FF 1.5%, rgba(54, 23, 239, 0.571567) 79.99%, rgba(48, 20, 213, 0.495075) 98.84%, rgba(58, 38, 178, 0.338576) 99.99%, rgba(58, 38, 178, 0) 100%);
    border-radius: 20px;
    filter: drop-shadow(2px 4px 15px rgba(0, 0, 0, 0.19));
    transition: .4s;
}
:is(.all-student, .all-user, .generation):hover {
    cursor: pointer;
    transform: scale(1.05);
}